<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Master of Master Schedule</title>
</head>
<body>
    <h1 class="header">Project Information Presentation</h1>
    <div class="header-bar">
        <ul>
            {% for project_info in project_info_list %}
                <li>
                    <a href="{{ project_info.get_absolute_url }}">{{ project_info.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>